.search-article-wrapper {
  border: 1px solid #e0e0e0;
  width: 700px;
  height: 70px;
  margin: 0 auto;
}
.search-article-wrapper input{
  max-width: 700px;
}

.no-focus:focus {
  box-shadow: none !important;
  outline: none !important;
}

.search-icon {
  font-size: 1.2rem;
  color: #999;
}